<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button>Rafraîchir</button>
      <a routerLink="add" class="button">Ajouter</a>
      <button>Supprimer</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="name">Tournevis</td>
          <td class="price">3.99 €</td>
          <td class="qty">56</td>
        </tr>
        <tr>
          <td class="name">Ciseaux</td>
          <td class="price">9.99 €</td>
          <td class="qty">12</td>
        </tr>
        <tr>
          <td class="name">Pelle</td>
          <td class="price">15.00 €</td>
          <td class="qty">120</td>
        </tr>
        <tr>
          <td class="name">Rateau</td>
          <td class="price">6.50 €</td>
          <td class="qty">5</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
