<main>
  <h1>Liste des articles</h1>
  <div class="content">
    <nav>
      <button title="Rafraîchir" (click)="refresh()" [disabled]="isRefreshing">
        <fa-icon
          [icon]="isRefreshing ? faCircleNotch : faRotateRight"
          [spin]="isRefreshing"
        ></fa-icon>
      </button>
      <a routerLink="add" class="button" title="Ajouter">
        <fa-icon [icon]="faPlus"></fa-icon>
      </a>
      <button
        title="Supprimer"
        [hidden]="selectArticles.size === 0"
        (click)="remove()"
        [disabled]="isRemoving"
      >
        <fa-icon
          [icon]="isRemoving ? faCircleNotch : faTrashAlt"
          [spin]="isRemoving"
        ></fa-icon>
      </button>
    </nav>
    <div class="error">
      {{ getErrorMsg() }}
    </div>
    <table>
      <thead>
        <tr>
          <th class="name">Nom</th>
          <th class="price">Prix</th>
          <th class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="articleService.isLoading; else data">
          <td colspan="3">
            <div class="loading">
              <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
              <span>Chargement...</span>
            </div>
          </td>
        </tr>
        <ng-template #data>
          <tr
            *ngFor="let a of articleService.getArticles() | async"
            [class.selected]="selectArticles.has(a)"
            (click)="select(a)"
          >
            <td class="name">{{ a.name }}</td>
            <td class="price">{{ a.price }} €</td>
            <td class="qty">{{ a.qty }}</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</main>
