<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f">
    <label>
      <span>Nom</span>
      <input type="text" formControlName="name" />
    </label>
    <label>
      <span>Prix</span>
      <input type="number" formControlName="price" />
    </label>
    <label>
      <span>Quantité</span>
      <input type="number" formControlName="qty" />
    </label>
    <button class="primary">
      <fa-icon [icon]="faPlus"></fa-icon>
      <span>Ajouter</span>
    </button>
  </form>
  <!-- {{ f.value | json }} -->
</main>
