form {
  display: flex;
  flex-flow: column;
  gap: 0.5em;

  label {
    display: flex;
    flex-flow: column;

    input {
      padding: 0.5em 1em;
      border: 0.1em solid #bbb;
      border-radius: 0.3em;
    }
  }

  button {
    margin-top: 3em;
  }
}
