<main>
  <h1>Mentions Légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, incidunt nam
    consequatur iste non eius minima laudantium dolores error, eos voluptate
    aperiam maiores consectetur. Similique perferendis illum id voluptatum a!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis, ab.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore possimus
    asperiores esse beatae neque provident impedit quisquam in a error, illum
    placeat animi voluptate accusantium commodi aliquam. Recusandae unde ipsa
    dicta ullam. Magnam ipsa provident natus consequatur dolorem nulla animi,
    magni labore, debitis omnis vero temporibus. Voluptatibus doloribus eius
    corrupti?
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui nesciunt
    exercitationem doloribus atque delectus ratione. Perferendis sint enim nihil
    dolor maxime, cumque voluptate ratione aut? Repudiandae enim beatae tempora
    tenetur quod nesciunt est itaque voluptatum necessitatibus error iusto nulla
    earum, dicta cupiditate esse praesentium nisi totam accusantium unde
    excepturi tempore reiciendis. Ipsa minus atque eligendi sapiente unde
    obcaecati quas labore, quod natus distinctio quasi consequatur, perferendis,
    impedit eum amet. Veritatis distinctio quidem dolor accusantium quasi,
    adipisci atque dignissimos perspiciatis, dolores nulla et labore velit
    deleniti! Vero, magnam, delectus corporis repudiandae voluptatibus
    reiciendis, ipsam veniam fugit inventore rem animi adipisci et eos enim?
    Necessitatibus quidem animi suscipit voluptatibus at sed vitae ipsa laborum
    debitis accusantium, perspiciatis eaque eligendi fugit esse alias iure quae
    impedit et sapiente reprehenderit modi vero cum illum? Aliquam nesciunt
    dicta fugiat, reiciendis totam non perspiciatis quos id harum praesentium
    veritatis rem soluta natus blanditiis ducimus adipisci fuga accusantium
    libero. Aut, expedita eaque sed dolore voluptatem perspiciatis labore
    impedit quisquam id omnis porro ex quod reiciendis sequi laborum pariatur
    libero tenetur aperiam? Maiores aut vitae nam iusto expedita necessitatibus
    eligendi optio adipisci soluta deleniti beatae ea fugit provident nulla, est
    natus doloribus ducimus asperiores veritatis magni alias voluptate aperiam.
    Dolorum vitae minus eveniet veritatis ex nihil unde sint nostrum officia
    voluptate earum architecto illum cum numquam tempore accusantium, in maxime
    fugiat error officiis voluptates nam. Quos quo obcaecati odio dolores
    praesentium mollitia molestias asperiores voluptas unde, nobis id fugiat
    neque doloribus soluta numquam debitis, tenetur eius tempore distinctio eum
    beatae culpa sint! Nulla fugiat libero, in sequi veritatis optio neque rem
    quia veniam facilis sunt deserunt cupiditate quasi doloremque, nisi ut nemo
    voluptatibus eius asperiores quisquam nesciunt autem minima aspernatur.
    Cumque pariatur repellat provident ab? Non aliquam autem quo beatae quis
    rerum sequi, laudantium dignissimos, unde atque omnis. Possimus voluptas
    ducimus, sit nihil sequi quas ut facilis veniam quo inventore sed odio, qui,
    laborum impedit omnis alias eum harum provident eaque nisi aut laudantium
    repudiandae! Eveniet blanditiis nostrum consectetur hic facilis illum veniam
    saepe dolorem similique dolorum labore alias cum architecto, a iusto ratione
    voluptate odio laboriosam molestias distinctio rem nam tempore maxime
    beatae. Odit sit quasi laborum error nostrum eligendi vel facere quam omnis
    libero voluptates quidem inventore natus enim cumque excepturi quo, iste
    molestias, incidunt sunt aperiam ipsam voluptas eos? Aut cupiditate est
    suscipit iure doloribus! Ad molestias suscipit ut vel dolorem delectus rem
    nesciunt, voluptatem, vitae omnis facilis veritatis alias? Quod velit est
    alias quasi necessitatibus, omnis perferendis libero tempore excepturi, a
    incidunt nulla? Dignissimos magni, sequi, odio impedit praesentium deleniti
    quod non dolore animi itaque, neque temporibus debitis! Quod quis eveniet
    labore explicabo earum saepe hic repellat iste nobis incidunt. Quasi placeat
    eum molestias culpa tempora incidunt sequi? Natus dolores perspiciatis
    molestiae quisquam eveniet laudantium ea excepturi deserunt. Perferendis
    quia repellendus rerum libero accusamus, beatae a harum ea doloremque porro
    in ducimus ullam nemo et minima commodi, eos repudiandae hic cumque quam
    ratione. Illo eum ut repudiandae blanditiis, nesciunt maxime libero ducimus
    sed mollitia?
  </p>
</main>
