/* You can add global styles to this file, and also import other style files */

@use "../node_modules/normalize.css/normalize.css";
@use "../node_modules/sanitize.css/sanitize.css";

@use "scss/button.scss";
@use "scss/table.scss";

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;

  width: 100%;
  max-width: 50em;
  margin: 0 auto;

  h1 {
    text-align: center;
  }

  p {
    width: 100%;
  }
}

div.error {
  height: 2em;
  display: flex;
  align-items: center;
  font-weight: bold;
}
